In [12]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="library",
    user='admin',
    password='admin')
cur = conn.cursor()

In [13]:
cur.execute(
        "SELECT * FROM lib_schema.book JOIN lib_schema.book_author ba on book.book_author = ba.author_id JOIN lib_schema.book_genre bg on book.book_genre = bg.genre_id JOIN lib_schema.book_lang bl on book.book_lang = bl.lang_id JOIN lib_schema.book_publisher bp on book.book_publisher = bp.publisher_id;")
book_list = pd.DataFrame(cur.fetchall()).drop([0, 2, 3, 4, 5, 12, 14, 15, 17, 19], axis=1)

In [14]:
book_list

,1,6,7,8,9,10,11,13,16,18,20
0,Harry Potter and the Half-Blood Prince (Harry ...,2006,8,9,652,4.57,28062,J.K. Rowling,Cookbooks,eng,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,2004,1,9,870,4.50,29770,J.K. Rowling,Historical Fiction,eng,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,2003,1,11,352,4.42,244,J.K. Rowling,Cookbooks,eng,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,2004,1,5,435,4.57,37093,J.K. Rowling,Action and Adventure,eng,Scholastic Inc.
4,Harry Potter and the Goblet of Fire (Harry Pot...,2002,8,9,734,4.56,31978,J.K. Rowling,Autobiographies,eng,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...
9995,Indians & Soldiers and Ranchers & Rustlers,1999,1,12,452,5.00,1,Luther Butler,True Crime,eng,iUniverse
9996,A Guide for Using the Outsiders in the Classroom,1992,1,6,48,5.00,0,John Carratello,Science Fiction,eng,Teacher Created Resources
9997,"A Guide for Using Brown Bear, Brown Bear, What...",2004,1,11,48,5.00,0,Mary Bolte,Comic Book,eng,Teacher Created Resources
9998,Activities for Any Literature Unit Grades 3-5,1996,1,11,80,4.00,0,Patsy Carey,Essays,eng,Teacher Created Resources
9999,Plants (Hands-On Minds-On Science Series),1994,1,7,96,0.00,0,Teacher Created Materials,Classics,eng,Teacher Created Resources